<div class="container">
  <table class="table table-striped table-condensed">
    <tr>
      <th>is_public</th>
      <th>Title</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>

    <% @photos.each do |photo| %>
      <tr>
        <td>
          <%= check_box_tag :is_public, true , photo.is_public, data: { url: is_public_photo_path(photo), method: :post, remote: true } %>
        </td>
        <td><%= photo.title %>
        <td><%= link_to "Show", photo_path(photo) %>
        <td><%= link_to "Edit", edit_photo_path(photo) %>
        <td><%= link_to "Destroy", photo_path(photo) , method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to "New Photo", 'photos/new' %>
</div>
  
